<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <tbody>
        <tr>
            <h4>hello: [[${user.email}]]</h4><br>
            <form action="/user-details" method="post">
                <li>[[${user.description}]]</li>
                <input type="checkbox" name="email" th:value="${user.email}"/>
                <button type="submit">send</button>
            </form>
        </tr>
    </tbody>

</body>
</html>