<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Mail</title>
</head>
    <body>
        <div style="text-align: center;">
            <tbody>
                <tr>
                    <form method="post">
                        <input type="text" name="theme" placeholder="please enter theme letter"><br>
                        <input type="text" name="recipient" placeholder="please enter recipient ';'"><br>
                        <input type="text" name="body" placeholder="enter text"><br>
                        <a href="/"><button type="submit">send</button></a>
                    </form>
                </tr>
            </tbody>
        </div>
    </body>
</html>
